/******BASE STYLES******/

html{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2{
  font-family: 'Lora', serif;
}

h1, h2, p{
  padding: 0 1rem;
}

ul{
padding-left: 0;
list-style: none;
}
ul li{
  display: inline-block;
}


/******GRID/LAYOUT******/


.full-width, .half-width, .third-width{
  display: block;
  width: 100%;
}

@media screen and (min-width: 910px){
  .full-width{
      width: 100%;
      margin: 0 auto;
  }

  .half-width{
    width: 50%;
    float: left;
  }

  .third-width{
    width: 33%;
    float: left;
  }
}


/******HEADER******/

header{
  display: inline-block;
  width: 100%;
  min-height: 300px;
  background: url("../img/hero-mobile.jpg") no-repeat center;
  background-size: cover;
}

header .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
  background: rgba(33, 33, 33, 0.05);
}

nav ul{
  float: right;
}
nav ul li a{
  padding: 0 1rem;
}
header h1{
  text-align: center;
  font-size: 1.8rem;
  color: #bbc085;
}

nav{
  text-align: center;
}
nav ul{
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0 1rem 0 0;
}

nav ul li a{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding-right: 1rem;
  color: #828282;
}

header h2{
  font-size: 1.7rem;
  line-height: 1.2;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 9rem;
  color: #828282;
}
header h2 span {
  color:black;
}
 

@media screen and (min-width: 910px){
  header{
    min-height: 600px;
    background: url("../img/hero.png") no-repeat bottom;
    background-size: cover;
  }
  header .wrapper{
    margin-top: 0.5rem;
    background: none;
  }
  header h1{
    font-size: 48px;
    margin: 0;
  }

  nav ul{
    padding-left: 100px
  }

  nav ul li a{
    text-decoration: none;
    font-size: 22px;
    padding-left: 30px;
  }
  nav ul li a:hover{
    text-decoration: underline;
  }

  header h2{
    text-align: left;
    font-size: 44px;
    padding: 4.5rem 2rem;
  }

}

@media screen and (min-width: 1250px){
  header{
    min-height: 700px;
  }
  header h2{
    text-align: center;
    margin: 0 auto;
    padding: 6rem 2rem 0;
  }
}


/******MAIN******/

main .full-width{
  background: #f9ceb7;
  text-align: center;
}


/******WORK******/

#work{
  display: inline-block;
}

#work .full-width{
  padding: 2rem 0;
}

#work .third-width{
  padding: 1rem 0;
}

@media screen and (min-width: 910px){

  #work .full-width{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }

  #work img{
    padding-bottom: 1rem;
  }

  #work h3{
    font-size: 24px;
    margin: 0 auto;
    padding: 0 1rem;
    color: #262a2b;
  }

  #work p{
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    color: #262a2b;
  }
}


/******CONTACT******/

#contact{
  background: #ebebeb;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 2rem 0;
}

  #contact-img{
    border: 15px solid white;
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  #envelope{
    vertical-align: bottom;
  }

  #contact h2{
    font-size: 30px;
  }

  #email-header{
    font-size: 20px;
    font-weight: 400;
  }

  #socialmedia-header{
    font-size: 20px;
    font-weight: 700;
  }

  #contact a{
    text-decoration: none;
    color: #c49075;
    font-weight: 700;
    font-size: 22px;
  }

  #contact ul{
    text-align: center;
  }

  #contact ul li{
    padding: 0 20px;
  }

@media screen and (min-width: 910px){

  #contact{
    text-align: left;
  }
  #contact .full-width{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  #contact-img{
    max-width: 80%;
    height: auto;
    margin: 0 2rem;
    border: 15px solid white;
  }
  
  #envelope{
    padding-left: 1rem;
  }
  
  #contact a:hover{
    opacity: .8;
  }
}

@media screen and (min-width: 1250px){
  #contact ul{
    text-align: left;
  }
}

